<div class="row mt-3 justify-content-center align-items-center">

    <!-- TEMOIGNAGE CEO AIRSKILL-->
    <div class="col-lg-6 order-1">
        <!-- <app-testimonial [title]="testimonial.title" [name]="testimonial.name" [company]="testimonial.company"
            [description]="testimonial.description" [imageUrl]="testimonial.imageUrl"></app-testimonial> -->
        <div class="d-flex justify-content-center">
            <img src="https://facturehero.com/assets/img/logiciel-facturation-autoentrepreneur.png" style="width: 80%;">
        </div>
    </div>



    <!-- LIST REASSURANCE-->
    <div class="reassurance-list col-12 col-lg-6 order-2">
        <!-- <p>Le recrutement d'expert.es tech ou la mise en place d'un programme de
            formation sont des objectifs qui peuvent s'avérer complexes.</p> -->
        <h3 style="text-align:center !important">Vos avantages</h3>
        <ul class="list-group">
            <li>Un interlocuteur professionnel dédié.</li>
            <li>Des profils sélectionnés parmi les meilleurs experts & formateurs</li>
            <li>Une facturation au succès, sans aucun surcoût par rapport à vos
                prévisions.</li>
            <li>Un accès privilégié à nos outils dont la CVtheque Airskill</li>
        </ul>
    </div>

</div>


<section style="background: #ddf0f3;padding: 40px;margin-top: 50px; position: relative;"
    class="py-lg-9 py-5 bg-primary-blend-gradient text-dark">
    <div class="container">
        <div class="row align-items-center mb-lg-7 mb-5">
            <div class="col-xl-6 col-lg-5 col-md-12">
                <div class="mb-4 mb-lg-0 text-center text-lg-start">
                    <small class="text-uppercase ls-md fw-semibold etiquette">Témoignages</small>
                    <h2 class="mt-4 mb-0">
                        Ils parlent de
                        <span class="text-primary"> Airskill</span>
                    </h2>
                    <p class="mt-0 mb-0">Nous sommes heureux d'apporter chaque jour de la valeur à nos clients.</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7 col-md-12">
                <div class="row gy-4">
                    <div class="col-md-4">
                        <div class="text-center text-lg-start">
                            <h2 class="mb-1 value">+15 ans</h2>
                            <span>d'expérience dans les métiers de tech</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-center text-lg-start">
                            <h2 class="mb-1 value">+1000</h2>
                            <span>apprenants formées</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-center text-lg-start">
                            <h2 class="mb-1 value">+97%</h2>
                            <span>Clients satisfaits</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <div class="card shadow-sm h-100 border-0">
                    <div class="card-body">
                        <img src="/assets/profils/testimonial-airskill-kamel-consultant-it-docapost-group.jpeg"
                            alt="testimonial-airskill-docapost">
                        <p class="mb-4">“J'ai eu l'honneur de travailler avec Béatrice au sein du groupe de formation
                            wf3. J'ai apprécié son sens inné de l'humain, son aptitude à la résolution de problèmes. En
                            tant que formateur, le bon déroulement de mes sessions en était largement facilité. Je
                            recommande vivement Béatrice pour ses valeurs, son engagement et ses compétences en
                            management.”</p>
                        <h5 class="mb-0">Jitu Chauhan</h5>
                        <small>Creative Director - Design agency</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <div class="card shadow-sm h-100 border-0">
                    <div class="card-body">
                        <img src="/assets/profils/testimonial-airskill-kamel-consultant-it-docapost-group.jpeg"
                            alt="testimonial-airskill-docapost">
                        <p class="mb-4">“Frederic est un très bon formateur.
                            J’ai aimé sa patience, sa pédagogie, et le fait qu’il ai une expérience de terrain, et des
                            projets en cours.
                            Il nous apporte donc un contenu de formation en cohérence de ce qui est demandé sur le
                            marché.

                            Je recommande donc la formation, le contenu, et l’homme ! ”</p>
                        <h5 class="mb-0">Kamel Kailech</h5>
                        <small>Consultant I.T, groupe Docaposte</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <div class="card shadow-sm h-100 border-0">
                    <div class="card-body">
                        <img src="/assets/profils/testimonial-airskill-jessica-dev-backend-sia-partners.jpeg"
                            alt="testimonial-airskill-docapost">
                        <p class="mb-4">
                            “Frédéric est un excellent formateur en langages utilisés pour faire du développement web.
                            C’est aussi un mentor et c’est le rôle qu’il a joué dans mon changement de carrière. Très
                            bonne pédagogie et très à l’écoute. Dans le cas d’une entreprise, Frédéric est un atout
                            majeur voir « problem solver » ultra efficace.”
                        </p>
                        <h5 class="mb-0">Jessica Kuijer</h5>
                        <small>Consultante dev back-end, Sia partners</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <div class="card shadow-sm h-100 border-0">
                    <div class="card-body">
                        <img src="/assets/profils/testimonial-airskill-Estelle-la-banque-postale.jpeg"
                            alt="testimonial-airskill-docapost">
                        <p class="mb-4">“J'ai eu le plaisir d'avoir Frédéric en tant que formateur au sein de WebForce3
                            durant plusieurs semaines et je ne peux que le recommander.
                            Avoir un formateur ayant autant de passion pour son métier a été une vraie chance.
                            Au-delà de toutes les compétences techniques, Frédéric fait preuve
                            d'une très bonne pédagogie. Il sait accompagner ses étudiants.”
                        </p>
                        <h5 class="mb-0">Estelle Debache</h5>
                        <small>LaBanquePostale</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






<!-- <div class="c-testimonials__pagination"></div>
<div class="c-testimonials__arrows">
    <button class="c-testimonials__arrow-prev">Suivant</button>
    <button class="c-testimonials__arrow-next">Précédent</button>
</div> -->