<section>

    <div class="container">
        <h2 style="font-size: xxx-large;" class="text-center">
            Nos domaines d'expertise
        </h2>
        <div class="row">
            <div class="col-6">
                <img style="width:68%" src="/assets/3.png" alt="">
            </div>
            <div class="col-6">

                <div class="scene-list">
                    <div class="scene-item">
                        <div class="scene-item-title">Front
                            End</div>
                        <span>React.js</span><span>Vue.js</span><span>Angular</span><span>Next.js</span><span>Svelte</span>
                    </div>
                    <div class="scene-item">
                        <div class="scene-item-title">Back
                            End</div><span>Node.js</span><span>Java</span><span>Symfony</span><span>.Net
                            Core</span><span>Go</span><span>Python</span>
                    </div>
                    <div class="scene-item">
                        <div class="scene-item-title">
                            Mobile</div><span>Flutter</span><span>Ionic</span><span>React
                            Native</span><span>Swift</span><span>Kotlin</span>
                    </div>
                    <div class="scene-item">
                        <div class="scene-item-title">
                            DevOps</div>
                        <span>AWS</span><span>Azure</span><span>GCP</span><span>Kubernetes</span><span>Terraform</span><span>Ansible</span>
                    </div>
                    <div class="scene-item">
                        <div class="scene-item-title">
                            Gestion de projet</div>
                        <span>Agile</span><span>Scrum</span><span>Kanban</span><span>V Cycle</span>
                    </div>
                    <div class="scene-item">
                        <div class="scene-item-title">
                            Data</div><span>Power BI</span><span>R</span><span>SQP</span><span>Scala</span>
                    </div>
                </div>
            </div>
        </div>



        <div class="encart">

            <div class="number-container">
                <div class="number-container-deco">
                    <div class="row">
                        <div class="col-12 col-md-6 col-xl-4">
                            <div class="d-flex justify-content-start justify-content-xl-center align-items-center">
                                <div class="number">15</div>
                                <div class="text">entreprises et écoles partenaires</div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-4">
                            <div class="d-flex justify-content-start justify-content-xl-center align-items-center">
                                <div class="number">+1000</div>
                                <div class="text">apprenants formés</div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-4">
                            <div class="d-flex justify-content-start justify-content-xl-center align-items-center">
                                <div class="number">+70</div>
                                <div class="text">missions menées à bien</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>