/* You can add global styles to this file, and also import other style files */
h1.title {
    // font-family: 'Nunito Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 37px;
}

.hero .subtitle {
    font-size: 24px;
    line-height: 32px;
    text-align: left;
    margin-bottom: 60px;
    font-family: 'Nunito Sans', sans-serif;
}

.hero .image {
    margin-top: 30px;
}

.hero .wrap {
    color: #e9bb04;
}

.dropdown-toggle::after {
    display: none;
}

.hero .btn-hire {
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    font-size: 18px;
    line-height: 21px;
    color: hsl(0, 0%, 0%);
    background: #fff;
    border: 1px solid #000000;
    box-shadow: 3px 3px 0px #000e1b;
    border-radius: 5px;
    padding: 14px 9px;
    display: inline-block;
    transform: translate(0px, 0px);
    transition: all .3s ease;
}

.hero .btn-search {
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    line-height: 21px;
    color: #ffffff;
    background: linear-gradient(132.32deg, #386ae6 3.11%, #386ce6 96.89%);
    box-shadow: 2px 3px 0px #000000;
    border-radius: 5px;
    padding: 15px 10px;
    display: inline-block;
    transform: translate(0px, 0px);
    transition: all .3s ease;
    margin-right: 10px;
}